*{
    margin: 0;
    padding: 0;
}
nav{
    color: brown;
    display: flex;
    justify-content:space-around;
    }
ul{
    list-style-type:none ;
    display:flex;
    gap:5px;
}
img{
    height: auto;
    width: auto;
}

.container{
    width:100%;
    display:grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(2,250px);
    place-content: center;
    place-items: center;
    
   
}
.child{
   height: 200px;
   width: 200px;
   background-color:purple;
}
.one{
    background-color: red;
    grid-column-start:1;
    grid-column-end:3;
    height:100%;
    width:100%;
    place-items:stretch;
}
.two{
    background-color:black;
   
}
.three{
    background-color: gray;
    grid-row-start:1;
    grid-row-end:3;
    grid-column:4/5;
    height:100%;
    width:100%;
    place-items:stretch;

}
.four{
    background-color: green;
}
.five{
    background-color:aqua;
}
.six{
    background-color:yellow;
}
.seven{
    background-color:violet;
}
.eight{
    background-color: blue;
    
}
.nine{
    background-color: saddlebrown;
}
.ten{
    background-color:white;
}
.eleven{
    background-color:orange; 
}

/*@media (min-width:400.5px) and (max-width:600px){
    .container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}
/*@media screen and (max-width:400px){
    .container{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(10,200px);
    }
}
@media (min-width:200.5px) and (max-width:500px){
    nav ul{
        display: none;
    }
}

@media (min-width:200.5px) and (max-width:500px){
  nav img{
    display: inline-block;
}
}
/*@media (min-width:500.5px) and (max-width:2050px){
  nav img{
    display: none;
}
}*/

