*{
    margin: 0;
    padding: 0;
}
body{
    height: 500px;
    width: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
    

}
.square{
    border: 2px solid red;
    align-content: center;
    height: 30%;
    width: 30%;
    background-color:blue;
    
    
    transition:all 1s ease 1s;
}
.square:hover{
    transform: rotate(90deg);
    
}